NodeRed flows/flows.json
[
    {
        "id": "52fcebd90770c10c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d49027dcef2d2beb",
        "type": "cloudantplus",
        "host": "https://apikey-v2-10jxylvs36u46ldr6za4p2sero86jnboc26asrbk2q0g:0f284505f2f612099b7186f933976498@8472bb0f-4f34-4675-bd25-3cf7a52343d1-bluemix.cloudantnosqldb.appdomain.cloud",
        "name": "",
        "useapikey": true
    },
    {
        "id": "dbdb0b621b2dd99f",
        "type": "debug",
        "z": "52fcebd90770c10c",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 400,
        "wires": []
    },
    {
        "id": "b4b11982a450ea2a",
        "type": "http in",
        "z": "52fcebd90770c10c",
        "name": "",
        "url": "/otaviocampost",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 440,
        "wires": [
            [
                "165bc9c1745adb0e"
            ]
        ]
    },
    {
        "id": "890102725571ca59",
        "type": "http response",
        "z": "52fcebd90770c10c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 520,
        "wires": []
    },
    {
        "id": "4ad315fb6540af78",
        "type": "json",
        "z": "52fcebd90770c10c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 510,
        "y": 480,
        "wires": [
            [
                "890102725571ca59"
            ]
        ]
    },
    {
        "id": "165bc9c1745adb0e",
        "type": "cloudantplus in",
        "z": "52fcebd90770c10c",
        "name": "",
        "cloudant": "d49027dcef2d2beb",
        "database": "otaviocampos",
        "service": "_ext_",
        "search": "_all_",
        "design": "",
        "index": "",
        "x": 320,
        "y": 440,
        "wires": [
            [
                "dbdb0b621b2dd99f",
                "4ad315fb6540af78"
            ]
        ]
    },
    {
        "id": "c29f64eacf06f49d",
        "type": "http in",
        "z": "52fcebd90770c10c",
        "name": "",
        "url": "/otaviocamposupdate",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "b52353288bde3748"
            ]
        ]
    },
    {
        "id": "b52353288bde3748",
        "type": "cloudantplus out",
        "z": "52fcebd90770c10c",
        "name": "",
        "cloudant": "d49027dcef2d2beb",
        "database": "otaviocampos",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 340,
        "y": 100,
        "wires": [
            [
                "2c23084fb24c7520",
                "bf22045423046f2c"
            ]
        ]
    },
    {
        "id": "2c23084fb24c7520",
        "type": "debug",
        "z": "52fcebd90770c10c",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 80,
        "wires": []
    },
    {
        "id": "bf22045423046f2c",
        "type": "http response",
        "z": "52fcebd90770c10c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 570,
        "y": 140,
        "wires": []
    },
    {
        "id": "e7a30d4b4a965db2",
        "type": "http in",
        "z": "52fcebd90770c10c",
        "name": "",
        "url": "/otaviocamposdelete",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "2fd0db0dc08167fb"
            ]
        ]
    },
    {
        "id": "2fd0db0dc08167fb",
        "type": "cloudantplus out",
        "z": "52fcebd90770c10c",
        "name": "",
        "cloudant": "d49027dcef2d2beb",
        "database": "otaviocampos",
        "service": "_ext_",
        "payonly": true,
        "operation": "delete",
        "x": 340,
        "y": 240,
        "wires": [
            [
                "685f944375ec47bd",
                "9df1d15bbc84f2f4"
            ]
        ]
    },
    {
        "id": "685f944375ec47bd",
        "type": "debug",
        "z": "52fcebd90770c10c",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 220,
        "wires": []
    },
    {
        "id": "9df1d15bbc84f2f4",
        "type": "http response",
        "z": "52fcebd90770c10c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 570,
        "y": 280,
        "wires": []
    }
]